<h1>Chi tiết về ngôi nhà</h1>
<table cellpadding="5">
  <tr>
    <th>Name: </th>
    <td>{{house.name}}</td>
  </tr>
  <tr>
    <th>Bathroom: </th>
    <td>{{house.bathroom}}</td>
  </tr>
  <tr>
    <th>Category: </th>
    <td>{{house.category?.name}}</td>
  </tr>
  <tr>
    <th>Description: </th>
    <td>{{house.category?.description}}</td>
  </tr>
  <tr>
    <th></th>
    <td><a routerLink="update" style="margin-right: 15px">Edit</a><button (click)="deleteHouse()">Delete</button></td>
  </tr>
</table>
