<!--<app-name-card cardName="Professional Dev" email="prodev@codegym.vn" phone="0123456789"></app-name-card>-->
<!--<app-progress-bar></app-progress-bar>-->
<!--<app-rating-bar></app-rating-bar>-->
<!--<div style="text-align:center">-->
<!--  <h2>Angular Job Board </h2>-->
<!--  <app-demo-form></app-demo-form>-->
<!--</div>-->

<!--<app-product-form></app-product-form>-->
<!--<app-todo></app-todo>-->
<!--<app-form-register></app-form-register>-->

<h1>Angular Router App</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a routerLink="/register">Register Component</a></li>
    <li><a routerLink="/product">Product Component</a></li>
    <li><a routerLink="/timelines">Ứng dụng tính thời gian sống</a></li>
    <li><a routerLink="/youtube">Youtube</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<p><router-outlet></router-outlet></p>
